{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <h1>Добро пожаловать на главную страницу</h1>
    <p><a href="{{ path('sign_up') }}">Регистрация</a></p>
    {% if app.user %}
        <p><a href="{{ path('logout') }}">Выйти</a></p>
    {% else %}
        <p><a href="{{ path('sign_in') }}">Авторизация</a></p>
    {% endif %}
{% endblock %}