{% extends 'base.html.twig' %}


{% block title %}
    Register
{% endblock %}
{% block stylesheets %}
    <style>
        .wrapper {
            box-sizing: border-box;
            width: 400px;
            height: 300px;
            padding: 20px;
            box-shadow: 0 2px 10px grey;
            position: absolute;
            top: calc(50% - 150px);
            left: calc(50% - 200px);
            text-align: center;
        }
        .wrapper input {
            margin: 5px;
        }
        .form {
            position: relative;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="form">
            {% if error %}
                <p>Такой пользователь уже зарегистрирован! Пройдите <a href="{{ path('sign_in') }}">Авторизацию</a></p>
            {% endif %}
            <h1>Регистрация:</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}