{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block stylesheets %}
    <style>
        .wrapper {
            box-sizing: border-box;
            width: 400px;
            height: 300px;
            padding: 20px;
            box-shadow: 0 2px 10px grey;
            position: absolute;
            top: calc(50% - 150px);
            left: calc(50% - 200px);
            text-align: center;
        }
        .wrapper input {
            margin: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="wrapper">
        {% if error %}
            <p>Неправильный логин или пароль</p>
        {% endif %}
        <h1>Авторизация:</h1>
        {{ form(form) }}
    </div>
{% endblock %}


